<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-user-form></app-user-form> -->

<!-- custom component - struture -->
<!-- <app-struct></app-struct> -->
<!-- <app-words></app-words> -->
<!-- <app-person name="Tú Nguyễn" age="30"></app-person>
<app-person name="Đạt Nguyễn" age="28"></app-person> -->

<!-- <app-list-person></app-list-person> -->
<!-- <app-parent></app-parent> -->
<!-- <app-list-person></app-list-person> -->
<!-- <app-parent></app-parent> -->
<!-- <app-card>
    <h3 class="card-header">Thực hành ngContent</h3>
    <p class="card-body">Tác dụng của ngContent</p>
</app-card> -->
<!-- <app-learn-pipe></app-learn-pipe> -->
<!-- <app-ip></app-ip> -->
<!-- <app-weather></app-weather> -->
<app-signin></app-signin>